# General
.DS_Store
.byebug_history
.node_repl_history
.pytest_cache
__pycache__
.vscode
*.pid
*.seed
*.db

# Ruby/Rails specific
/.bundle
/db/*.sqlite3
/db/*.sqlite3-*
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/config/master.key

# Node.js specific
/node_modules
/jspm_packages
.npm
package-lock.json
build/Release

# Python specific
.venv
.env
generate_secret_key.py
/flask_session/
instance/

# Learn-specific
.results.json
